.pictures{
&__pictures_header{
    padding-bottom: 30px;
    color: green;
    font-weight: bolder;
    font-size:26px;
    font-family: abel;
    text-transform: uppercase;
}
&__pictures_content{
    color:white;
    font-family: sans-serif;
} 
}